{% include 'sitio/cabecera.html' %}



<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://www.ecartelera.com/carteles/2100/2122/003.jpg" alt="Title">
            <div class="card-body">
                <h4 class="card-title">Coraline Y La Puerta Secreta</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary"
                        href="https://www.primevideo.com/detail/Coraline-y-La-Puerta-Secreta/0FBBQUALXEVI6Y9JR7ZBVRM3Q3?_encoding=UTF8&language=es_ES"
                        role="button">Ver</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top"
                src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSSaolCejKaDO-xoV1KyNQbg7dXZO0QihEkIFDdmaU_2dT1Fgc9"
                alt="Title">
            <div class="card-body">
                <h4 class="card-title">Batman: el caballero de la noche</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary"
                        href="https://play.hbomax.com/page/urn:hbo:page:GXdkpqAvyDaXCPQEAADdn:type:feature?source=googleHBOMAX&action=open"
                        role="button">Ver</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top"
                src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSgp6NPMAwIbEwaonXEH_mEkKyKQ7ZPH7Vi3SwVwtp1WlufIrv7"
                alt="Title">
            <div class="card-body">
                <h4 class="card-title">Demon Slayer: El tren infinito</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="https://www.sensacine.com/peliculas/pelicula-272355/"
                        role="button">Ver</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top"
                src="https://m.media-amazon.com/images/M/MV5BMTU2NjA1ODgzMF5BMl5BanBnXkFtZTgwMTM2MTI4MjE@._V1_.jpg"
                alt="Title">
            <div class="card-body">
                <h4 class="card-title">John Wick</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary"
                        href="https://www.justwatch.com/es/pelicula/john-wick-otro-dia-para-matar" role="button">Ver</a>
                </p>
            </div>
        </div>
    </div>
</div>




{% include 'sitio/pie.html' %}